# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment Variables
.env
backend/.env

# Database
*.sqlite3
*.db

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
